h1 {
  margin: 0;
  text-align: center;
  font-size: 3em;
  padding: 1em 0 1em 0;
  color: white;
  background: url(/Images/Eiffel\ Tower\ black&White.jpg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}
#logo {
  position: absolute;
  left: 45%;
  top: 16%;
  width: 6em;
}
@media only screen and (min-width: 900px) {
  #logo {
    position: absolute;
    left: 47%;
    top: 17%;
    width: 6em;
  }
}
body {
  margin: 0;
  font-family: "Ephesis", cursive;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.8242647400757178) 22%,
    rgba(240, 233, 223, 1) 96%
  );
}
.parent {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 2px;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 21%;
}
@media only screen and (min-width: 900px) {
  .parent {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 2px;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 6%;
  }
}
.div1 {
  grid-area: 1 / 1 / 2 / 2;
}
.img {
  box-shadow: -5px 5px 0 0.8px black;
  z-index: 1;
  width: 276px;
  position: relative;
}
.container {
  text-align: center;
  font-size: calc(3px + 1em);
  box-shadow: 5px 5px 0 0.8px black;
  background: white;
  z-index: 0;
  margin-right: 20%;
  position: relative;
  top: -17%;
}
.right {
  left: 20%;
}

.left {
  left: 54%;
  box-shadow: 5px 5px 0 0.8px black;
}
@media only screen and (min-width: 900px) {
  .left {
    left: 70%;
  }
}
.titre-left {
  position: relative;
  left: 14%;
}
.titre-right {
  position: relative;
  right: 20%;
}
.div2 {
  grid-area: 2 / 1 / 3 / 2;
}
.div3 {
  grid-area: 3 / 1 / 4 / 2;
}
.div4 {
  grid-area: 4 / 1 / 5 / 2;
}
.div5 {
  grid-area: 5 / 1 / 6 / 2;
}
footer {
  text-align: center;
  font-size: 100%;
  font-weight: bold;
}
a {
  text-decoration: none;
  color: black;
}
