h1 {
  margin: 0;
  text-align: center;
  font-size: 3em;
  padding: 1em 0 1em 0;
  color: white;
  background: url("../Images/EiffelTowerblack&WhiteMain.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}
@media only screen and (max-width: 700px) {
  h1 {
    font-size: 2em;
  }
}
#logo {
  margin-left: auto;
  margin-right: auto;
  margin-top: -3%;
  display: block;
  width: 10%;
}
@media only screen and (max-width: 700px) {
  #logo {
    margin-left: auto;
    margin-right: auto;
    margin-top: -5%;
    display: block;
    /* width: 6em; */
  }
}
body {
  margin: 0;
  font-family: "Ephesis", cursive;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.8242647400757178) 22%,
    rgba(240, 233, 223, 1) 96%
  );
}
a {
  text-decoration: none;
  color: black;
  
}
div {
  margin: 1% 5%;
}
.smalltitle {
  text-align: center;
  font-size: 165%;
  position: inherit;
  margin: 0;
}
@media only screen and (min-width: 701px) {
  .smalltitle {
    display: none;
  }
}
@media only screen and (max-width:400px){
  p{
    display: none;
    font-size: 100%;
  }
  h2 {
    font-size: 100%;
  }
}
.img {
  box-shadow: -5px 5px 0 0.8px #00000069;
  z-index: 1;
  width: 276px;
  position: relative;
  margin: 0 0 0 15%;
}
.img:hover {
  transform:scale(1.2);
}
@media only screen and (max-width: 700px) {
  .img {
    box-shadow: -5px 5px 0 0.8px #00000069;
    z-index: 1;
    width: 45%;
    position: unset;
    margin: 1% 28%;
  }
}
.left {
  left: 48%;
}
@media only screen and (min-width: 701px) and ( max-width: 1000px) {
  .left{
    margin:0;
  }
}
.container {
  text-align: center;
  font-size: 110%;
  box-shadow: 5px 5px 0 0.8px #00000069;
  background: white;
  margin: -4% 20% 0 20%;
  display: none;
}
@media only screen and (min-width: 700px) {
  .container{
    display: grid;
  }
}
.linkPage {
  margin-left: 10%;
}
.linkPage:hover {
  color: blue;
  font-size: 150%;
}
footer {
  text-align: center;
  font-size: 100%;
  font-weight: bold;
  margin-top: 6%;
}
@media only screen and (max-width: 700px) {
  footer {
    text-align: center;
    font-size: 100%;
    font-weight: bold;
    margin-top: 15%;
  }
}
