*{
  margin: 0;
  padding: 0;
}
body {
  font-family: "Ephesis", cursive;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.8242647400757178) 22%,
    rgba(240, 233, 223, 1) 96%
  );
  color: white;
  height: auto;
}

h1 {
  margin: 0;
  text-align: center;
  font-size: 3em;
  padding: 1em 0 2em 0;
  /* background: black; */
  color: white;
  background: url(/Images/421522-Kycb_1920x1080.jpg);
  background-repeat: no-repeat;
  background-position: bottom;
}

@media only screen and (max-width: 700px) {
  h1 {
    font-size: 2em;
  }
}
#logo {
  margin-left: auto;
  margin-right: auto;
  margin-top: -3%;
  display: block;
  width: 8em;
}
@media only screen and (max-width: 700px) {
  #logo {
    margin-left: auto;
    margin-right: auto;
    margin-top: -5%;
    display: block;
    width: 6em;
  }
}
.title {
  text-align: center;
  position: relative;
  top: 50px;
  font-size: 3vw;
}

@media only screen and (max-width: 700px) {
  .title {
    font-size: 6vw;
  }
}

.container {
  text-align: center;
  font-size: 2vw;
  box-shadow: 5px 5px 0 0.8px #00000069;
  background: white;
  margin: 6% 20% 0 20%;
  display: grid;
  color: black;
}

@media only screen and (max-width: 700px) {
  .container {
    margin-left: auto;
    margin-right: auto;
    margin-top: 35%;
    display: none;
    font-size: 6vw;
    margin: 133px 10px 0 10px;
  }
}

.art1 {
  width: 40%;
  box-shadow: -5px 5px 0 0.8px #00000069;
  position: relative;
  margin: 120px 0 -130px 16%;
}

@media only screen and (max-width: 700px) {
  .art1 {
    width: 62%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: flex;
  }
}

.art2 {
  width: 40%;
  box-shadow: -5px 5px 0 0.8px #00000069;
  position: relative;
  margin: 120px 0 -130px 49%;
}

@media only screen and (max-width: 700px) {
  .art2 {
    width: 62%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: flex;
  }
}

.container2 {
  text-align: center;
  font-size: 2vw;
  box-shadow: 5px 5px 0 0.8px #00000069;
  background: white;
  margin: 6% 20% 0 20%;
  display: grid;
  color: black;
}

@media only screen and (max-width: 700px) {
  .container2 {
    margin-left: auto;
    margin-right: auto;
    margin-top: 35%;
    display: none;
    font-size: 6vw;
    margin: 133px 10px 0 10px;
  }
}