*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: "Ephesis", cursive;
  background: linear-gradient(
    180deg,
    rgb(0 0 0 / 92%) 46%,
    rgb(255 255 255) 123%
  );
}

.dropbtn {
  border: none;
  width: 7vw;
  height: 7vw;
  background: transparent;
}

.dropdown {
  position: absolute;
  display: inline-block;
  margin-left: 45vw;
  margin-top: -10vw;
  z-index: 0;
  width: 9vw;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: transparent;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: rgb(255, 255, 255);
  padding: 0.3vw 3vw;
  text-decoration: none;
  display: block;
}

.dropdown-content #Accueil {
  display: flex;
  position: absolute;
  right: 52.8vw;
  top: -14vw;
}

@media only screen and (min-width: 700px) {
  .dropdown-content #Accueil {
    display: flex;
    position: absolute;
    right: 7.8vw;
    top: -8vw;
  }
}
.dropdown-content #paris {
  display: flex;
  position: absolute;
  right: 54vw;
  top: -10vw;
}
@media only screen and (min-width: 700px) {
  .dropdown-content #paris {
    display: flex;
    position: absolute;
    right: 9vw;
    top: -6vw;
  }
}
.dropdown-content #monuments {
  display: flex;
  position: absolute;
  right: 51.5vw;
  top: -7vw;
}
@media only screen and (min-width: 700px) {
  .dropdown-content #monuments {
    display: flex;
    position: absolute;
    right: 8.5vw;
    top: -4vw;
  }
}

.dropdown-content #contact {
  display: flex;
  position: absolute;
  right: 21.5vw;
  top: -7vw;
}

@media only screen and (min-width: 700px) {
  .dropdown-content #contact {
    display: flex;
    position: absolute;
    right: 2.5vw;
    top: 0.7vw;
  }
}

.dropdown-content #gastronomy {
  display: flex;
  position: absolute;
  right: 12.5vw;
  top: -14vw;
}

@media only screen and (min-width: 700px) {
  .dropdown-content #gastronomy {
    display: flex;
    position: absolute;
    right: 7.5vw;
    top: -2vw;
  }
}

.dropdown-content #evenement {
  display: flex;
  position: absolute;
  right: 12.8vw;
  top: -10vw;
}

@media only screen and (min-width: 700px) {
  .dropdown-content #evenement {
    display: flex;
    position: absolute;
    right: 5.8vw;
    top: 0vw;
  }
}

.dropdown-content a:hover {
  background-color: rgba(221, 221, 221, 0);
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e4100;
  border-radius: 50%;
}

#logo {
  margin-left: auto;
  margin-right: auto;
  margin-top: -6%;
  margin-bottom: 2%;
  display: flex;
  width: 17%;
}
@media only screen and (min-width: 700px) {
  #logo {
    margin-top: -2%;
    width: 10vw;
  }
}

/* --------------------  Partie Header -------------------- */

h1 {
  margin: 0;
  text-align: center;
  font-size: 10vw;
  padding: 5% 0 5% 0;
  color: white;
  background: url(../Images/EiffelTowerblack&WhiteMain.jpg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  flex-direction: row;
}
@media (min-width: 700px) {
  h1 {
    font-size: 3vw;
    padding: 2% 0 2% 0;
  }
}
/* --------------------  Partie Responsive Header -------------------- */
@media only screen and (max-width: 700px) {
  h1 {
    font-size: 2em;
  }
}

/* --------------------  Partie Body / Monument -------------------- */

.titreMonument {

  margin-top: 110px;
  text-align: center;
  font-size: 3vw;
  color: #fff;
  padding: 35px 0;
}


.separationTitre {
  width: 200px;
  margin: 10px 43% 25px;
}

button {
  background: none;
  border: none;
}
.monument img {
  cursor: pointer;
  width: 300px;
  height: 440px;
  justify-content: center;
  margin: 14px;
  transition: 0.5s;
}

#galerieMonument {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1300px;
  min-width: 300px;
  margin: 0 auto 100px;
}

.overlay, .overlayTourEiffel, .overlayArc, .overlayNotreDame, .overlayLeLouvres, .overlayPantheon, .overlayPlace {
  position: fixed;
  left: 0px;
  top: 0px;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  z-index: 1;
  display: none;
}

.popup, .popupTourEiffel, .popupArc, .popupNotreDame, .popupLeLouvres, .popupPantheon, .popupPlace  {
  display: flex;
  margin: 10% auto;
  flex-direction: row;
  width: 70%;
  color: #fff;
  background-color: #9b9b9b;
  padding: 15px;
  box-shadow: 0 15px 20px rgb(0 0 0 / 30%);
  border-radius: 5px;
  font-size: 20px;
}

.btnClose {
  cursor: pointer;
  float: right;
  font-size: 60px;
  cursor: pointer;
  color: rgb(255, 255, 255);
  margin-top: -32px;
}

.popupText {
  font-size: 30px;
  margin-top: 60px;
}

/* --------------------  Partie Responsive Body / Monument -------------------- */

@media only screen and (max-width: 770px) {
  .separationTitre {
    margin: 10px 40% 25px;
  }
  .monument img {
    width: 270px;
    height: 400px;
    margin: 15px;
  }
  .popupText {
    font-size: 20px;
    margin-top: 30px;
  }
}

@media only screen and (max-width: 500px) {
  .separationTitre {
    margin: 10px 27% 25px;
  }
  .monument img {
    width: 270px;
    height: 400px;
    margin: 0px;
  }
  .popup, .popupTourEiffel, .popupArc, .popupNotreDame, .popupLeLouvres, .popupPantheon, .popupPlace {
    flex-direction: column;
    width: auto;
  }
  .popupText {
    font-size: 20px;
    margin-top: 8px;
  }
  .btnClose {
    margin-top: -430px;
  }
}


@media only screen and (max-width: 330px) {
  .separationTitre {
    width: 120px;
    margin: 10px 29% 25px;
  }
  .btnClose {
    margin-top: -440px;
    margin-right: -12px;
  }
}

footer {
  text-align: center;
  font-size: 100%;
  font-weight: bold;
  margin-top: 6%;
}
@media only screen and (max-width: 700px) {
  footer {
    text-align: center;
    font-size: 100%;
    font-weight: bold;
    margin-top: 15%;
  }
}
footer a {
    text-decoration: none;
    color: black;
}
footer p {
  font-size: 1.5vw;
  text-align: center;
}